@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserIdentityEx.ViewModels.UserViewModel

<form asp-controller="Account" asp-action="Edit" asp-route-id="@Model.userId">
    <div>
        <label asp-for="userId">ID = @Model.userId</label><br /><br />
        <label>NAME = @Model.Name</label><br /><br />
        <label asp-for="Email"></label><br />
        <input asp-for="Email" placeholder="@Model.Email" /><br />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" placeholder="@Model.Name" /><br />
        <span asp-validation-for="Name"></span><br />
    </div>
    <div>
        <label asp-for="Age"></label><br />
        <input asp-for="Age" placeholder="@Model.Age" /><br />
        <span asp-validation-for="Age"></span><br />
    </div>
    <div>
        <label asp-for="Code"></label><br />
        <select asp-for="Code">
            <option value="Doctor" selected="selected">Doctor</option>
            <option value="Administrative">Administrative</option>
            <option value="Assistent">Assistent</option>
            <option value="Common">Common</option>
        </select>
        <span asp-validation-for="Code"></span><br />
    </div>
    <br />
    <div>
        <input type="submit" value="Confirm" />
    </div>

</form>




