@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<User>

    <form method="get" asp-controller="Account" asp-action="ShowList">
        <h3>All Users list : </h3>
        @{ if (Model.Count() == 0)
            {
                <p>List is empty. Please, <a asp-controller="Account" asp-action="Register">Register</a> user first.</p>
            }
            else
            {
            <table border="1">
                <thead>
                    <tr>
                        <td align="center">Name</td>
                        <td align="center">Code</td>
                        <td align="center">Email</td>
                        <td align="center">ID</td>
                        <td colspan="3" align="center">Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserName   </td><td>@user.Code   </td><td>@user.Email   </td><td>@user.Id   </td>
                            <td><a asp-controller="Account" asp-action="Edit" asp-route-id="@user.Id"> Edit </a></td>
                            <td><a asp-controller="Account" asp-action="Delete" asp-route-userId="@user.Id"> Delete </a></td>
                            <td><a asp-controller="Account" asp-action="ChangePass" asp-route-userId="@user.Id"> Change Pass</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            <p>Total : @Model.Count()</p>
        }
    </form>